body, html {
    min-width: 760px;
}

.character-count .form--has-character-limit {
    margin: 0;
    padding: 10px 11px;
    pointer-events: none;
    position: absolute;
    right: 1px;
}

#div-container {
    text-align: center;
    width: 100%;
}

.form {
    display: block;
    margin-bottom: 30px;
}

.form-box {
    background-color: #fff;
    border: 1px solid #bbb;
    display: inline-block;
    margin-left: 36.5%;
    min-width: 25%;
    padding: 20px 20px 25px;
    position: relative;
    text-align: left;
    top: 13%;
    width: 25%;
}

.form-footer {
    text-align: center;
}

.form-input {
    border: 1px solid #bbb;
    border-radius: 3px;
    color: #575757;
    display: inline-block;
    font: inherit;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 7px 10px;
    min-width: 94%;
}

.form-input .form-has-character-limit {
    padding-right: 40px;
}

.form-input {
    background-image: url(./exclamation.jpg);
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.form-label {
    color: #575757;
    display: block;
    font-weight: 600;
    margin-bottom: 0.4em;
    min-width: 94%;
}

.form-label:after {
    color: #686868;
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 400;
    padding-left: 5px;
}

.form-optional > .form-label:after {
    content: "(optional)";
}

#line-color-tag {
    position: relative;
}

#line-description {
    position: relative;
}

#line-name {
    position: relative;
}

#line-status {
    position: relative;
}

#line-tag {
    position: relative;
}

.popup-Background {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#sub-container {
    background: blanchedalmond;
    border: 5px solid olive;
    display: inline-block;
    height: 400px;
    position: relative;
    width: 700px;
}

.text-help {
    color: #686868;
    display: block;
    font-size: 0.85rem;
    font-style: italic;
    margin-top: 6px;
}

